.container {
  display: flex;
  justify-content: center;
}

.contText {
  margin-left: 120px;
  margin-right: 120px;
}

.btn {
  margin-top: 20px;
  margin-bottom: 50px;
}

.btnText {
  border: none;
  padding: 30px;
  border-radius: 50%;
  text-transform: uppercase;
  color: rgb(180, 195, 196);
  background-color: rgb(34, 90, 34);
}

.btnDelete {
  padding: 20px 40px;
  text-transform: uppercase;
  border: none;
  color: antiquewhite;
  background-color: rgb(241, 114, 24);
  font-weight: 600;
}

.showBtn {
  border: none;
  color: brown;
  font-weight: 600;
}